/* This CSS is globally scoped and only in its own file for our own developer experience
   Check out CSS-in-JS for fancier scoping options
*/

.vitals-boxes {
  max-width: 90vw;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  column-gap: 1rem;
  row-gap: 1em;
}
.vitals-box,
.activity-box {
  /* margin:  */
  border: 1px solid beige;
  padding: 1rem 2rem;
}

.vitals-box h3,
.activity-box h3 {
  margin: 0 0 1rem;
}

.vitals-measurements {
  font-size: 1rem;
  list-style: none;
  margin: 1rem 0 0;
  padding: 0;
  text-align: left;
}

/* TODO: display: table? */
.vitals-timestamp {
  display: inline-block;
  min-width: 10rem;
}

.vitals-value {
  display: inline-block;
  min-width: 5rem;
  text-align: right;
}
